*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--ion-color-primary);
}

#form, #header{
    margin: .5rem;
    width: auto;
}

.note{
    margin-right: .5rem;
}

.label{
    margin-left: .5rem;
}

.item{
    margin: 1rem 0;
}