<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_PPAL' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form padding id='form'>

    <ion-list id="list">
      <ion-list-header padding text-center id="header">
        {{ 'MNU_MYPROFILE' | translate }}
      </ion-list-header>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'INP_USER' | translate }}</ion-note>
        <ion-label class="label">{{ datosusu.username }}</ion-label>
      </ion-item>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'NAME' | translate }}:</ion-note>
        <ion-label class="label">{{ datosusu.name }}</ion-label>
      </ion-item>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'EMAIL' | translate }}:</ion-note>
        <ion-label class="label">{{ datosusu.email }}</ion-label>
      </ion-item>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'ADDRESS_LINE_1' | translate }}:</ion-note>
        <ion-label class="label">{{ datosusu.address_line_1 }}</ion-label>
      </ion-item>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'ADDRESS_LINE_2' | translate }}:</ion-note>
        <ion-label class="label">{{ datosusu.address_line_2 }}</ion-label>
      </ion-item>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'POSTAL_CODE' | translate }}:</ion-note>
        <ion-label class="label">{{ datosusu.postal_code }}</ion-label>
      </ion-item>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'PHONE' | translate }}:</ion-note>
        <ion-label class="label">{{ datosusu.phone }}</ion-label>
      </ion-item>

      <ion-item class="item">
        <ion-note slot="start" class="note">{{ 'MOBILE' | translate }}:</ion-note>
        <ion-label class="label">{{ datosusu.mobile }}</ion-label>
      </ion-item>

    </ion-list>

    <!--ion-item padding text-center>
      <ion-label position="stacked" >{{ 'INP_USER' | translate }} <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="Text" [(ngModel)]="datosusu.username" name="username"></ion-input>
    </ion-item-->

  </form>
</ion-content>
<!--
    id: '',
    email: '',
    username: '',
    name: '',
    address_line_1: '',
    address_line_2: '',
    city_id: '',
    postal_code: '',
    phone: '',
    mobile: ''

    "NAME": "Nombre",
    "EMAIL": "E-mail",
    "ADDRESS_LINE_1": "Dirección (Línea 1)",
    "ADDRESS_LINE_2": "Dirección (Línea 2)",
    "POSTAL_CODE": "Código Postal",
    "PHONE": "Teléfono",
    "MOBILE": "Celular",
-->
