<ion-content padding>
  <div class="splash-bg">&nbsp;</div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-title"></div>
    <div class="splash-intro">
      {{ 'WELCOME_MSSG' | translate }}
    </div>
  </div>
  <form (submit)="login()" padding>
    <ion-item class="ion-no-padding">
      <ion-label position="stacked" class="pl-1" >{{ 'INP_USER' | translate }} <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="Text" [(ngModel)]="account.username" name="username"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="stacked">{{ 'INP_PASS' | translate }} <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="Password" [(ngModel)]="account.password" name="password"></ion-input>
      
    </ion-item>
    <!--div class="loadbar" *ngIf="loading">
      <img src="'../../../assets/img/LoadingDots.gif" />
    </div-->
    <ion-button id="btnlogin" name="btnlogin" (click)="login()" expand="block">
        {{ 'BTN_LOGIN' | translate }}
    </ion-button>
    <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">
        {{ 'BTN_REGISTER' | translate }}
    </ion-button>
  </form>
</ion-content>
