<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_PPAL' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <form padding id="AskServForm" name="AskServForm">
    
    <ion-item>
      <ion-label class="ion-text-center" style="font-weight: bold;" padding>{{ 'REQUEST_SERVICE' | translate }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'SERVICE' | translate }}: </ion-label>
      <ion-select required placeholder="{{ 'SELECT' | translate }}:" style="width: 70%; max-width: 100% !important;" 
        [(ngModel)]="datosserv.service" name="service" padding>
        <ion-select-option 
            *ngFor="let service of (serviceslist | async)" 
            value="{{service.name}}">{{service.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'ARRIVAL' | translate }}: </ion-label>
      <ion-datetime required [(ngModel)]="datosserv.llegada" name="llegada" displayFormat="DD/MM/YYYY h:m"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'LEAVE' | translate }}: </ion-label>
      <ion-datetime required [(ngModel)]="datosserv.retiro" name="retiro" displayFormat="DD/MM/YYYY h:m"></ion-datetime>
    </ion-item>

    <ion-item padding>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'NAME' | translate }}: </ion-label>
      <ion-input required type="text" disabled [(ngModel)]="datosserv.username" name="username" padding></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'PHONE' | translate }}: </ion-label>
      <ion-input required type="text" [(ngModel)]="datosserv.userphone" name="userphone" padding></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'EMAIL' | translate }}: </ion-label>
      <ion-input required type="text" [(ngModel)]="datosserv.usermail" name="usermail" padding></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'PET' | translate }}: </ion-label>
      <!--ion-input required type="text" [(ngModel)]="datosserv.petname" name="petname" padding></ion-input-->

      <ion-select required placeholder="{{ 'SELECT' | translate }}:" style="width: 70%; max-width: 100% !important;"
        [(ngModel)]="datosserv.petname" name="petname">
        <ion-select-option 
            *ngFor="let pet of (myPets | async)" 
            value="{{pet.name}}">{{pet.name}}</ion-select-option>
      </ion-select>

    </ion-item>

    <!--ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text>{{ 'BREED' | translate }}:</ion-label>
      <ion-select required placeholder="{{ 'SELECT' | translate }}:" 
        [(ngModel)]="datosserv.petbreed" name="petbreed" multiple="true">
        <ion-select-option 
            *ngFor="let breed of (breedslist | async)" 
            value="{{breed.name}}"
            ionChange="console.log(this.value);">{{breed.name}}</ion-select-option>
      </ion-select>
    </ion-item-->

    <ion-button type="button" expand="block" color="primary" (click)="enviareserva()" >
      {{ 'BTN_ASK_RESERV' | translate }}
    </ion-button>

  </form>

</ion-content>
