.photodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 10vh;
    background-color: lightgoldenrodyellow;
}

ion-select
{
  max-width: 95%;
}