<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_PPAL' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div text-center padding class="photodiv" (click)="takePicture()">
    <img *ngIf="photo" [src]="photo" class="PhotoPet">
    <ion-icon  name="camera" color="secondary"></ion-icon>
  </div>

  <!--div text-center padding>
    <ion-button expand="block" color="secondary" (click)="takePicture()">
      <ion-icon name="camera" class="icobutton"  ></ion-icon> {{ 'ADD_PETPHOTO' | translate }}
    </ion-button> (ngSubmit)='doAddPet()'
  </div-->
  
  <form padding id="AddPetForm" name="AddPetForm">
    
    <ion-item padding>
      <ion-label position="stacked" padding><ion-text color="danger">*</ion-text>{{ 'NAME' | translate }}: </ion-label>
      <ion-input required type="text" [(ngModel)]="datospet.name" name="name" padding></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'BIRTH_DATE' | translate }}: </ion-label>
      <ion-datetime required [(ngModel)]="datospet.birth_date" name="birth_date" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'GENDER' | translate }}:</ion-label>
      <ion-select required placeholder="{{ 'SELECT' | translate }}:" 
        [(ngModel)]="datospet.gender_id" name="gender_id">
        <ion-select-option 
            *ngFor="let gender of (genderslist | async)" 
            value="{{gender.id}}">{{gender.name | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text>{{ 'BREED' | translate }}:</ion-label>
      <ion-select required placeholder="{{ 'SELECT' | translate }}:" 
        [(ngModel)]="datospet.breed_id" name="breed_id" multiple="true">
        <ion-select-option 
            *ngFor="let breed of (breedslist | async)" 
            value="{{breed.id}}"
            ionChange="console.log(this.value);">{{breed.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text>{{ 'COLOUR' | translate }}:</ion-label>
      <ion-select required placeholder="{{ 'SELECT' | translate }}:" 
        [(ngModel)]="datospet.colour_id" name="colour_id">
        <ion-select-option 
            *ngFor="let colour of (colourslist | async)" 
            value="{{colour.id}}">{{colour.name | translate }}</ion-select-option>
        <!--ion-select-option value="m">Male</ion-select-option-->
      </ion-select>
    </ion-item>

    <ion-item no-lines padding>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'STERILE' | translate }}: </ion-label>
      <ion-radio-group required value="0" [(ngModel)]="datospet.sterile" name="sterile">
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label>Si</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
          </ion-col>  
          <ion-col>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-col>  
        </ion-row>
      </ion-radio-group>
    </ion-item>    

    <ion-item padding>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'WEIGHT' | translate }}: </ion-label>
      <ion-input required type="number" [(ngModel)]="datospet.weight" name="weight" padding></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label position="inline" padding><ion-text color="danger">*</ion-text>{{ 'ADDITIONAL_INFORMATION' | translate }}: </ion-label>
      <ion-textarea required type="text" [(ngModel)]="datospet.additional_information" name="additional_information" padding></ion-textarea>
    </ion-item>

    <ion-button type="button" expand="block" color="primary" (click)="doAddPet()">
      {{ 'BTN_ADD_PET' | translate }}
    </ion-button>

  </form>

</ion-content>

<ion-footer>

</ion-footer>
<!--
  id
  name
  gender_id (combo)
  sterile (check)
  birth_date
  weight
  additional_information (text_area)
  user_id
  colour_id (combo)
  photo
  photo_dir

-->