<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="mini-logo"></div>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_EDITPET' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--ion-item class="item">
    {{ data.id }}
  </ion-item-->

 
  <div text-center padding class="photodiv" (click)="takePicture()">
    <!--img *ngIf="photo" [src]="photo" class="PhotoPet"-->
    <img *ngIf="photo" [src]="photo" class="PhotoPet">
    <!--img *ngIf="data.photo !=0" src="{{urlroot}}/files/pets/photo/{{data.photo_dir}}/{{data.photo}}" class="PhotoPet" /-->
    <ion-icon *ngIf="!data.photo" name="camera" color="secondary"></ion-icon>
  </div>

  <!--div text-center padding>
    <ion-button expand="block" color="secondary" (click)="takePicture()"> 
      <ion-icon name="camera" class="icobutton"  ></ion-icon> {{ 'ADD_PETPHOTO' | translate }}
    </ion-button> 
  </div-->
  
  <form padding id="EditPetForm" name="EditPetForm">
    
    <ion-row>

      <ion-col>
        <ion-item class="ion-no-padding">
          <ion-label ><ion-text color="danger">*</ion-text>{{ 'NAME' | translate }}: </ion-label>
          <ion-input required type="text" [(ngModel)]="data.name" name="name" ></ion-input>
        </ion-item>
      </ion-col>

      <!--ion-col>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked" ><ion-text color="danger">*</ion-text>{{ 'BIRTH_DATE' | translate }}: </ion-label>
          <ion-datetime required [(ngModel)]="data.birth_date" name="birth_date" displayFormat="DD/MM/YYYY" ></ion-datetime>
        </ion-item>
      </ion-col-->

    </ion-row>

    <ion-row>

      <ion-col size="5">
        <!--ion-item class="ion-no-padding"-->

        <!--ion-label position="stacked" ><ion-text color="danger">*</ion-text>{{ 'GENDER' | translate }}: </ion-label-->
          
          <!--ion-list radio-group [(ngModel)]="data.gender_id" name="eegender_id" required>
            <ion-list-header>
              {{ 'GENDER' | translate }}:
            </ion-list-header>
      
            <ion-item *ngFor="let gender of genderslist" lines="none">
              <ion-label>{{gender.name | translate}}</ion-label>
              <ion-radio [value]="{{gender.id}}"></ion-radio>
            </ion-item>
      
          </ion-list-position="stacked"-->

        <!--/ion-item-->

        <ion-item class="ion-no-padding">
          <ion-label ><ion-text color="danger">*</ion-text>{{ 'WEIGHT' | translate }}: </ion-label>
          <ion-input required type="number" [(ngModel)]="data.weight" name="weight" padding></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="7">
        <ion-item class="ion-no-padding">
          <ion-label>{{ 'STERILE' | translate }}:</ion-label>
          <ion-toggle [(ngModel)]="data.sterile" name="sterile"></ion-toggle>
          <!--ion-list>
            <ion-radio-group value="biff" [(ngModel)]="data.sterile">

              <ion-list-header>
                <ion-label >{{ 'STERILE' | translate }}:</ion-label>
              </ion-list-header>

              <ion-item lines="none">
                <ion-label class="no-label">Si</ion-label>
                <ion-radio slot="end" [value]="1"></ion-radio>
              </ion-item>

              <ion-item lines="none"> 
                <ion-label class="no-label">No</ion-label>
                <ion-radio slot="end" [value]="0"></ion-radio>
              </ion-item>

            </ion-radio-group>
          </ion-list-->
          <!--ion-label position="stacked" ><ion-text color="danger">*</ion-text>{{ 'STERILE' | translate }}: </ion-label-->
          
          <!--ion-radio-group required value="0" [(ngModel)]="data.sterile" name="sterile">
            <ion-row>
              <ion-col>
    
                <ion-item lines="none">
                  <ion-label class="no-label">Si</ion-label>
                  <ion-radio slot="end" [value]="1"></ion-radio>
                </ion-item>
    
              </ion-col>  
              <ion-col>
    
                <ion-item lines="none"> 
                  <ion-label class="no-label">No</ion-label>
                  <ion-radio slot="end" [value]="0"></ion-radio>
                </ion-item>
    
              <ion-col>  
            </ion-row>
          </ion-radio-group-->
    
        </ion-item>

      </ion-col>

    </ion-row>

    <!--ion-item class="ion-no-padding">
      <ion-label position="stacked" ><ion-text color="danger">*</ion-text>{{ 'BREED' | translate }}:</ion-label>
      <ion-select required placeholder="{{ 'SELECT' | translate }}:" [compareWith]="compareWithFn"
        [(ngModel)]="data.breeds" name="breeds" id="breeds" multiple="true">
        <ion-select-option 
            *ngFor="let breed of (breedslist)" 
            [value]="breed">{{breed.name}}
        </ion-select-option>
      </ion-select>
    </ion-item-->

    <!--ion-item>
      <ion-label position="inline"><ion-text color="danger">*</ion-text>{{ 'COLOUR' | translate }}:</ion-label>
      <ion-select required placeholder="{{ 'SELECT' | translate }}:" 
        [(ngModel)]="data.colour" [compareWith]="compareFn2" name="colour_id" id="colour_id">
        <ion-select-option 
            *ngFor="let colour of (colourslist | async)" 
            [value]="colour">{{colour.name | translate }}</ion-select-option>
      </ion-select>
    </ion-item-->

       
    
    

    

    <ion-item class="ion-no-padding">
      <ion-label position="stacked"><ion-text color="danger">*</ion-text>{{ 'ADDITIONAL_INFORMATION' | translate }}: </ion-label>
      <ion-textarea required type="text" [(ngModel)]="data.additional_information" name="additional_information" padding></ion-textarea>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-text class="edit-messg">
        <br>
        {{'editmore_info' | translate }}<a href="mailto:{{ 'mail_contacto' | translate }}"><b>{{ 'mail_contacto' | translate }}</b></a>
        <br><br>
      </ion-text>
    </ion-item>


    <ion-button type="button" expand="block" color="primary" (click)="doEditPet()">
      {{ 'BTN_ADD_PET' | translate }}
    </ion-button>

    <ion-button type="button" expand="block" color="secondary" (click)="goBack()">
      {{ 'BACK' | translate }}
    </ion-button>

  </form>
  <!--script>
    setTimeout(() => {
      this.form.setValue({
        gender_id: data.gender.id
      });
      console.log(data.gender.id);
      console.log('aqui');
    }, 500);
  </script-->
</ion-content>
