.mini-logo {
    margin: auto;
    background: url('../../../assets/img/logo-small.png') repeat transparent;
    background-size: 100%;
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.PhotoPet{
    //max-height: 100%;
    height: 30vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.edit-messg{
    text-align: center;
    font-size: smaller;
}