<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" text="{{ 'BACK' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'REGISTER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <form padding id="form">
    <ion-item padding>
      <ion-label position="fixed" padding><ion-text color="danger">*</ion-text>{{ 'EMAIL' | translate }}: </ion-label>
      <ion-input required type="email" [(ngModel)]="datosusu.email" name="email" padding></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label position="fixed" ><ion-text color="danger">*</ion-text>{{ 'INP_USER' | translate }} </ion-label>
      <ion-input required type="text" [(ngModel)]="datosusu.username" name="username"></ion-input>
    </ion-item>

    <ion-item padding >
      <ion-label position="fixed"><ion-text color="danger">*</ion-text>{{ 'INP_PASS' | translate }} </ion-label>
      <ion-input required type="password" [(ngModel)]="datosusu.password" name="password"></ion-input>
    </ion-item>

    <ion-item padding >
      <ion-label position="fixed" id="name"><ion-text color="danger">*</ion-text>{{ 'NAME' | translate }}:</ion-label>
      <ion-input required type="text" [(ngModel)]="datosusu.name" name="name"></ion-input>
    </ion-item>

    <ion-item padding id="address">
      <ion-label position="stacked" >{{ 'ADDRESS' | translate }}:</ion-label>

      <ion-input type="text"
      placeholder="{{ 'ADDRESS_LINE_1' | translate }}" 
        [(ngModel)]="datosusu.address_line_1" name="address_line_1" class="input"></ion-input>

      <ion-input type="text" 
        placeholder="{{ 'ADDRESS_LINE_2' | translate }}" 
        [(ngModel)]="datosusu.address_line_2" name="address_line_2" class="input"></ion-input>     

    </ion-item>

    <ion-item padding ><!---->
      <ion-label position="fixed" id="name"><ion-text color="danger">*</ion-text>{{ 'POSTAL_CODE' | translate }}:</ion-label>
      <ion-input type="text" required 
        placeholder=""
        [(ngModel)]="datosusu.postal_code" name="postal_code" class="input"></ion-input> 
    </ion-item>

    <ion-item padding >
      <ion-label position="fixed"><ion-text color="danger">*</ion-text>{{ 'PHONE' | translate }}:</ion-label>
      <ion-input required type="tel" [(ngModel)]="datosusu.phone" name="phone"></ion-input>
    </ion-item>

    <ion-item padding >
      <ion-label position="fixed"><ion-text color="danger">*</ion-text>{{ 'MOBILE' | translate }}:</ion-label>
      <ion-input type="tel" [(ngModel)]="datosusu.mobile" name="mobile"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="doRegister()">
      {{ 'BTN_CREATE_ACCOUNT' | translate }}
    </ion-button>
  </form>
</ion-content>

<!--
    id: '',
    email: '',
    username: '',
    name: '',
    address_line_1: '',
    address_line_2: '',
    city_id: '',
    postal_code: '',
    phone: '',
    mobile: ''

-->