/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ion-content  *{
    font-size: .9rem;
    font-weight: 100;
}

#form{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 1rem 1rem 0 0;
}

#address ion-label{
    height: 1.6rem;
    margin-top: .6rem;
}

#address 
[type="text"],
[type="number"]{
    font-style: italic;
    font-weight: 100;
}

ion-button{
    margin: 1rem 0 1rem 1rem ;
}

#form ion-item ion-input{
    font-weight: 900;
}*/