<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_PPAL' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <div text-center padding>
    <ion-button expand="block" color="primary" routerLink="/members/askserv" routerDirection="forward"> <!--(Click)="consulta()"-->
      <ion-icon name="add-circle-outline" class="icobutton"  ></ion-icon> {{ 'REQUEST_SERVICE' | translate }}
    </ion-button>
  </div>
  
  <div padding *ngFor="let curService of (currentServices | async)">
    
    <!--ion-card *ngIf="curService.pets_services.length == 0">
      <ion-card-header>
        <ion-card-subtitle padding text-center> 
          {{ 'NOSERVICES_MSSG' | translate }}
        </ion-card-subtitle>*ngIf="curService.pets_services.length > 0"
      </ion-card-header>
    </ion-card-->

    <ion-card class="main-card">
      <ion-card-header class="card-header">
        <ion-card-subtitle class="card-subtitle">
            <span *ngFor="let breeds of curService.breeds">{{breeds.name}}</span>
        </ion-card-subtitle>
        <ion-card-title padding class="card-title">
          {{curService.name}}<!--br-->
          <span class="pet-sex" primary>{{curService.gender.name | translate}}</span>
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content padding *ngIf="curService.pets_services.length > 0" class="card-content">
        
        <h3 *ngIf="curService.pets_services.length > 0" class="ultimos-servicios">{{'LAST_SERVICES' | translate}}</h3>
        <div *ngFor="let pets_services of curService.pets_services">
          <h4 class="servicios"><b>{{pets_services.service.name}}</b></h4>
          <p>
            <b>{{'START_DATE' | translate}}:</b>&nbsp;{{pets_services.start_date | date: 'dd/MM/yyyy H:mm'}}<br>
            <b>{{'END_DATE' | translate}}:</b>&nbsp;{{pets_services.end_date | date: 'dd/MM/yyyy H:mm'}}<br>

            <ion-icon name="radio-button-off-outline" *ngIf="pets_services.confirmed == false"></ion-icon>
            <ion-icon name="radio-button-on-outline" *ngIf="pets_services.confirmed == true"></ion-icon>
            {{ 'CONFIRMED' | translate }} -  
            <ion-icon name="radio-button-off-outline" *ngIf="pets_services.executed == false"></ion-icon>
            <ion-icon name="radio-button-on-outline" *ngIf="pets_services.executed == true"></ion-icon>
            {{ 'EXECUTED' | translate }}
          </p><br>
        </div>
        
      </ion-card-content>

    </ion-card>

  </div>
  
</ion-content>