.main-card{
    background-color: var(--ion-color-secondary-contrast);
    color: var(--ion-color-secondary);
    }

.card-title, .main-card{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header{
    padding: 1.5rem;
}
  
.pet-sex {
    font-size: .8rem;
}

.card-content{
     width: 80vw;
     text-align: left;
     padding: .5rem;
}

.ultimos-servicios{
    margin-bottom: 1rem;
    text-decoration: underline;
}


 
