<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_MYPETS' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div text-center padding>
    <ion-button expand="full" color="primary" routerLink="/members/addpet" routerDirection="forward">
      <ion-icon name="add-circle-outline" class="icobutton"  ></ion-icon>&nbsp; {{ 'ADD_PET' | translate }}
    </ion-button>
  </div>

  <div padding *ngFor="let Pet of (myPets | async)">


    <ion-card class="" (click)="editpet(Pet)">

      <ion-card-header class="">
        <div text-center padding class="photodiv">
          <img *ngIf="Pet.photo !=0" src="{{urlroot}}/files/pets/photo/{{Pet.photo_dir}}/{{Pet.photo}}" />
          
          <ion-icon  name="camera" color="secondary"></ion-icon>
        </div>
        
        <ion-card-subtitle class="card-subtitle">
            <!--span *ngFor="let breeds of curService.breeds">{{breeds.name}}</span-->
            {{Pet.gender.name | translate}} - {{Pet.weight}} Kg. - {{'COLOUR' | translate}}: {{Pet.colour.name}}
            <!--br />{{urlroot}}/files/pets/photo/{{Pet.photo_dir}}/{{Pet.photo}}-->
        </ion-card-subtitle>
        <ion-card-title padding>
          {{Pet.name}}
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content padding>
        
  
        <ion-item class="ion-no-padding" *ngIf="Pet.sterile == true">
          <ion-label>
            {{'STERILE' | translate}}&nbsp;<b><ion-icon name="checkmark-done-outline" color="primary"></ion-icon></b>
          </ion-label>
          <!--ion-note slot="end" >
          </ion-note-->
        </ion-item>

        <!--ion-button expand="block" color="secondary" (Click)="editpet()">
          <ion-icon name="create-outline"></ion-icon>&nbsp; {{ 'EDIT_PET' | translate }}
        </ion-button-->

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
