.splash-bg {
    position: relative;
    background-size: cover;
    height: 40vh;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}

ion-card-header{
    padding:0px;
}

ion-card-header img{
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

ion-card-subtitle{
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
    width: 100%;
}
ion-card-title{
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 100%;
}

ion-card-content{
    padding:0px;
    padding-bottom: 5px;
}