/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-input{
    margin-left: 10px;
}

ion-label{
    margin-left: 10px;
    color: lightslategrey !important;
}

/*ion-list{
    margin-left: 10px !important;
    padding-left: 0px !important;
    border: thin solid red;
}
ion-list-header{
    margin-left: 10px !important;
    padding-left: 0px !important;
    border: thin solid blue;
}
ion-radio-group{
    margin-left: 10px !important;
    padding-left: 0px !important;
    border: thin solid yellow;
}
ion-radio{
    margin-left: 10px !important;
    padding-left: 0px !important;
    border: thin solid violet;
    border: none;
}*/



.photodiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 10vh;
    background-color: lightgoldenrodyellow;
}

.loadbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ion-no-padding{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.no-label{
    color: black !important;
}